examples/workflows/ai-agent-datatable.json
{
  "name": "KI-Agent + Data Table (Praxis-Beispiel)",
  "nodes": [
    {
      "parameters": {
        "content": "## Chat → KI-Agent → in Tabelle speichern\n\nPraxisnah: Der **Chat-Agent** beantwortet eine Frage, und Frage + Antwort werden **dauerhaft in einer n8n Data Table** gespeichert.\n\nSo baust du z.B. ein einfaches FAQ-/Protokoll-System — **ohne externe Datenbank** (Data Tables sind in n8n eingebaut).\n\n▶️ **Testen:** über den **Chat** starten (Sub-Nodes laufen nur über den Agent).",
        "height": 240,
        "width": 560,
        "color": 4
      },
      "id": "da100000-0000-4000-8000-000000000001",
      "name": "Doku: Überblick",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-80, -330]
    },
    {
      "parameters": {
        "content": "## Vorbereitung (einmalig)\nLeg in n8n unter **Data Tables** eine Tabelle `chat_log` mit zwei Text-Spalten an:\n- **frage**\n- **antwort**\n\nWähle sie dann im letzten Node („In Tabelle speichern\") aus.",
        "height": 240,
        "width": 360,
        "color": 6
      },
      "id": "da100000-0000-4000-8000-000000000002",
      "name": "Doku: Vorbereitung",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [520, -330]
    },
    {
      "parameters": {
        "content": "## Chat Trigger\nStartet bei jeder Chat-Nachricht.\nDie Frage steht in `{{ $json.chatInput }}`.",
        "height": 120,
        "width": 230,
        "color": 5
      },
      "id": "da100000-0000-4000-8000-000000000003",
      "name": "Doku: Trigger",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [20, -170]
    },
    {
      "parameters": {
        "content": "## KI-Agent\nBeantwortet die Frage (Claude + Memory).\nDie Antwort steht danach in `{{ $json.output }}`.",
        "height": 120,
        "width": 230,
        "color": 6
      },
      "id": "da100000-0000-4000-8000-000000000004",
      "name": "Doku: Agent",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [300, -170]
    },
    {
      "parameters": {
        "content": "## Data Table (Insert)\nSpeichert **frage** + **antwort** als neue Zeile.\n**Eingebaut in n8n — keine externe DB nötig.**",
        "height": 120,
        "width": 250,
        "color": 3
      },
      "id": "da100000-0000-4000-8000-000000000005",
      "name": "Doku: DataTable",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [600, -170]
    },
    {
      "parameters": {
        "content": "**Sprachmodell (Claude)**\nDas LLM — braucht Anthropic-Credential.",
        "height": 90,
        "width": 200,
        "color": 7
      },
      "id": "da100000-0000-4000-8000-000000000006",
      "name": "Doku: Modell",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [160, 150]
    },
    {
      "parameters": {
        "content": "**Memory**\nMerkt sich den Gesprächsverlauf.",
        "height": 90,
        "width": 200,
        "color": 7
      },
      "id": "da100000-0000-4000-8000-000000000007",
      "name": "Doku: Memory",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [380, 150]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "da100000-0000-4000-8000-0000000000b1",
      "name": "Chat-Nachricht (Trigger)",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [80, 0]
    },
    {
      "parameters": {
        "promptType": "auto",
        "options": {
          "systemMessage": "Du bist ein hilfreicher Assistent für ein Hackathon-Team. Antworte freundlich und kurz auf Deutsch."
        }
      },
      "id": "da100000-0000-4000-8000-0000000000b2",
      "name": "KI-Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [360, 0]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "da100000-0000-4000-8000-0000000000b3",
      "name": "Sprachmodell (Claude)",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.5,
      "position": [200, 280]
    },
    {
      "parameters": {},
      "id": "da100000-0000-4000-8000-0000000000b4",
      "name": "Gedächtnis (Memory)",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [420, 280]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "insert",
        "dataTableId": { "__rl": true, "mode": "list", "value": "" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "frage": "={{ $('Chat-Nachricht (Trigger)').item.json.chatInput }}",
            "antwort": "={{ $json.output }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "da100000-0000-4000-8000-0000000000b5",
      "name": "In Tabelle speichern",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [660, 0]
    }
  ],
  "connections": {
    "Chat-Nachricht (Trigger)": {
      "main": [[{ "node": "KI-Agent", "type": "main", "index": 0 }]]
    },
    "Sprachmodell (Claude)": {
      "ai_languageModel": [[{ "node": "KI-Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Gedächtnis (Memory)": {
      "ai_memory": [[{ "node": "KI-Agent", "type": "ai_memory", "index": 0 }]]
    },
    "KI-Agent": {
      "main": [[{ "node": "In Tabelle speichern", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
