examples/workflows/hello-webhook.json
{
  "name": "Hello Webhook (Demo)",
  "nodes": [
    {
      "parameters": {
        "content": "## Hallo-Webhook (Demo)\nEmpfängt ein POST mit einem `name`, baut eine Begrüßung und schickt sie als JSON zurück.\n\n**Testen:** POST an die Webhook-URL mit Body `{ \"name\": \"Max\" }`.",
        "height": 220,
        "width": 380,
        "color": 4
      },
      "id": "11111111-1111-4111-8111-111111111111",
      "name": "Doku: Übersicht",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-40, -260]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hello",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "22222222-2222-4222-8222-222222222222",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "hello-demo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a0000000-0000-4000-8000-000000000001",
              "name": "greeting",
              "value": "=Hallo {{ $json.body.name || 'Welt' }}! Schön, dass du da bist.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "33333333-3333-4333-8333-333333333333",
      "name": "Begrüßung bauen",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [240, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"message\": $json.greeting } }}",
        "options": {}
      },
      "id": "44444444-4444-4444-8444-444444444444",
      "name": "Antwort senden",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [480, 0]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Begrüßung bauen", "type": "main", "index": 0 }]]
    },
    "Begrüßung bauen": {
      "main": [[{ "node": "Antwort senden", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
